/* import font  */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,800;1,400;1,800&display=swap');

body {
    max-width: 1170px;
    margin: 20px auto;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.web-name {
    display: flex;
    align-items: center;
}

.web-name h3 {
    margin-left: 1rem;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.web-name h3 span {
    color: #FF5400;
}

.navigation {
    display: flex;
    list-style: none;
    align-items: center;
}

.navigation li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: 'Mulish';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 2.75rem;
}

#home-nav {
    color: #FF5400;
    font-weight: 700;
}

.hamburger-icon .fahumburg {
    color: black;
    font-size: 1.5rem;
    padding: 30px;
}





.Explore-section {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Explore-section-div {
    width: 100%;
}

.Explore-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Explore-section h3 {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 10px;
}

.Explore-section p {
    width: 676px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
}
.input-div{
    display: flex;
    justify-content: center;
}
.input-field-container {
    display: flex;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input1,
.input2,
.input3,
.input4 {
    color: rgba(19, 19, 24, 0.50);
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
}

.input1 {
    padding: 1rem 0px 1rem 15px;
    margin: 0px;
}

.input2 {
    padding: 1rem 113px 1rem 15px;
}

.input3 {
    padding: 1rem 74px 1rem 15px;
}

.input4 {
    padding: 1rem 34px 1rem 35px;
    background: #FF5400;
    color: #FFF;
    font-weight: 700;
}




/* footer section  */

.footer{
    background-color: rgba(19, 19, 24, 0.05);
}

.footer-div-conatiner{
    padding: 80px;
}

.web-name2{
    display: flex;
    align-items: center;
}

.web-name2 h3 {
    margin-left: 1rem;
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    margin: 0px 0px 0px 1rem;
}   

.web-name2 h3 span {
    color: #FF5400;
}


.footer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-img img{
    margin: 0px 10px 20px 0px;
}

.footer-para{
    text-align: center;
    margin-bottom: 15px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


.allrights{
    color: #131318;
    margin-top: 30px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

hr{
    background-color: rgba(19, 19, 24, 0.10);
    border: none;
    height: 1px;
    width: 70%;
}





@media screen and (min-width: 992px) {
    .hamburger-icon {
        display: none;
    }
}

@media screen and (max-width: 992px) and (min-width: 600px) {
    .hamburger-icon {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    body{
        margin: 20px 20px;
    }
    .navigation {
        display: none;
    }

    .Explore-section h3 {
        font-size: 22px;
    }

    .Explore-section-div {
        width: 90%;
        padding: 100px 0px;
    }

    .Explore-section p {
        width: 304px;
        font-family: Mulish;
        margin-bottom: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    .input-field-container {
        flex-direction: column;
    }
}